*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #66A8B0;
    min-height: 200vh;
}


/* ANIMATED HEADER MENU AT TOP OF PAGE */
header
{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px; 
    z-index: 100000;
}
header.sticky
{
    padding: 5px 100px;
    background: teal;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
header.sticky .logo,
header.sticky ul li a
{
    color: #fff;
}

@font-face {
    font-family: '';
    src: url();
}

/* img {
    float: left;
    max-width: 100%;
    max-height: 100%;
} */


.bookContText {
    float: right;
    width: 60%; 
    /* border: 1px solid #000; */
    padding-left: 2vw;
    /* word-break: break-all; */
}

p {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.bookBox {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 45%;
    height: auto;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    /* border: 1px solid #0f0; */
    background-color: #86BBC1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookTitle {
    padding: 0vh 0vw;
}

.bookAuthor {
    font-style: italic;
    margin: 1vh 0vw;
}

.bookDesc {
    font-size: medium;
}

.bookImg {
    /* border: 1px solid #f00; */
    width: 30%;
    height: auto;
    object-fit: cover
    
}

button {
    /* font-size: ; */
    background-color: cadetblue;
    padding: 1vh 1vw;
    margin: 3vh 0vw;
    border-radius: 20%;
}

button :hover {
    background-color: chartreuse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 1vh;
    background-color: #66A8B0;
}

.mainHeading {
    text-align: center;
    color: #fff;
    margin-top: 0px;
    padding: 325px 250px;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(
          rgba(100, 100, 100, 0.7), 
          rgba(100, 100, 100, 0.7)
        ),
    url("../library-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* PAYING PAGE */

label {
    margin: 0% 0%;
    padding: 0% 0%;
    border: 1px solid #000;
}

.payContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 20%;
    padding: 5% 5%;
    /* border: 1px solid #000; */
    background-color: lightslategray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    gap: 5%;
    margin: 0% 0%;
    padding: 5% 5%;
    /* border: 1px solid #000; */
    /* font-size: 100%; */
}


#send {
    padding: 5% 40% 5% 40%;
    margin: 0% 0% 0% 0%;
    /* border: 1px solid #000; */
    border-radius: 0%;
}

@media (max-width: 650px) {

    img {
        float: left;
        width: 40%;
        margin-right: 10px;
    }
    
    .a {
        float: left;
        width: 50%;
    }
    
    
}

