img {
    float: left;
    width: 20%;
    margin-right: 10px;
}

.a {
    float: inline-start;
    width: 25%;
}

p {
    color: #000;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #fff;
    min-height: 200vh;
}
header
{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px; 
    z-index: 100000;
}
header.sticky
{
    padding: 5px 100px;
    background: #000;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
header.sticky .logo,
header.sticky ul li a
{
    color: #fff;
}

.bookBox {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.mainHeading {
    text-align: center;
    color: #fff;
    margin-top: 100px;
    padding: 250px 250px;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(
          rgba(100, 100, 100, 0.7), 
          rgba(100, 100, 100, 0.7)
        ),
    url("../library-1.jpg");
}



@media (max-width: 650px) {

    img {
        float: left;
        width: 40%;
        margin-right: 10px;
    }
    
    .a {
        float: left;
        width: 50%;
    }
    
    
}

